datasets/**
data/**
__pycache__/**
checkpoints/**
*.png
*.jpeg
*.jpg
*.gif
light-effects-output/**
personal_token.txt
output/**
wandb/**
*.avi
*.mov
*.mp4
*.pt
*.pth
*.pdf
*.drawio
light-effects/**
notes.md
VGG_code/__pycache__/**
VGG_code/results_VGGfeatures/**
